<div *ngIf="wine">
  <h2>{{wine.name}} <small>{{wine.varietal}}</small></h2>
  <div>
    <div><label>rating: </label>{{wine.rating}}</div>
    <div><label>varietal:</label>{{wine.varietal}}</div>
    <div *ngIf="editing" class="form-group">
      <label>rating:</label>
      <input [(ngModel)]="wine.rating" placeholder="rating"/>
      <label>name: </label>
      <input [(ngModel)]="wine.name" placeholder="name"/>
    </div>
  </div>
  <button (click)="isEditing()" class="btn btn-primary">Edit</button>
</div>
